body {
  background: red;
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 80%;
  background: red;
}

h2 {
  font-size: 1.1em;
  margin-top: 25px;
}

p {
  color: rgba(0, 0, 0, 0.6);
}
